body {
    background-color: #AAAAFF;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-size: 18px;
    border-style: solid;
    border-color: #7777FF;
    text-align: center;
    width: 500px;
}

textarea {
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-size: 18px;
    border-style: solid;
    border-color: #7777FF;
    text-align: justify;
    width: 400px;
    height: 250px;
    padding: 10px;
    margin: 5px;
}

.blueButton {
    background-color: #5555AA;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    border-style: outset;
    border-width: 2px;
    border-color: #7777FF;
    border-radius: 4px;
    text-align: center;
    width: 150px;
    margin: 5px;
    padding: 2px;
    font-style: normal;
}

.blueButton:hover {
    border-color: #CCCCAA;
    background-color: #8888AA;
}

.redX {
    color: red;
    font-weight: bold;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: white;
}

.float {
    float: left;
}

.wrapper {
    display: flex;
    justify-content: center;
}

button {
    background-color: #5555AA;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    border-style: outset;
    border-width: 5px;
    border-color: #7777FF;
    border-radius: 40px;
    text-align: center;
    width: 200px;
    padding: 10px;
}

button:hover {
    background-color: #2222AA;
}

button:active {
    color: #2222AA;
    background-color: white;
}

hr {
    border: 1px #7777FF dashed;
}

h1 {
    font-family: sans-serif;
    font-size: 32px;
}
